<footer class="footer">
    <p>&copy; <%= new Date().getFullYear() %> <strong>Olimpos System</strong> - Todos los derechos reservados.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/script.js"></script> </body>
</html>